
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.row1{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    width: 90%;
    /* max-width: 1200px; */

}
.main1 > img{
    width: 80px;
    height: 80px;
}
.main2{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.main3{
    width: 50%;
}
 input{
border: 1px solid black;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
}
body{
 background-color: rgb(250, 239, 225);
}
.section2{
   
   display: flex;
   align-items: center;
   justify-content: center; 
   
}
.section-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90% !important;
    gap:  20px;
    /* max-width: 1200px !important; */
    grid-template-rows: repeat(3, minmax(100px, 200px));
}
.section2 div img{
    transition: 0.9s ease-in-out;
    width: 100%;
    height: 100%;
}

.section-inner div{
    overflow: hidden;
}

.section-inner  div img:hover{
transform: scale(1.1);
}
.main2-table{

    display: none;
}
.poki6{
    height: 100px !important;
}
.one{
    background-color: rgb(221, 243, 243);
}
@media(max-width:980px) {
    .section-inner {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    
    }
    .main3{
        display: none;
    }
    .main2-table{
        width: 90%;
        display: block;
    }
}
@media (max-width:980px) {

    
}